body {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20;
    border-top-right-radius: 20;
    background-color: rgba(189, 99, 99, 0.226);
}